__pycache__
*.py[cod]
*.pyc

multilanguage-website-django/settings/development.py
multilanguage-website-django/settings/production.py

venv/
media/
static/ckeditor
migrations/
*.sqlite3

# Common IDE's
.idea
