__pycache__
*.py[cod]
*.pyc

multilanguage-website-django/settings/development.py
multilanguage-website-django/settings/production.py
multilanguage-website-django/settings/production.py.save
multilanguage-website-django/settings/production.py.swo


venv/
media/
static/ckeditor
staticfiles/
migrations/
*.sqlite3

# Common IDE's
.idea
