/*Main Navbar icon style*/
.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, .5);
    border-color: rgba(255, 255, 255, .1);
    background-color: #ff6548;
}

/*Main Navbar icon style*/

.publicationHeadLine h2 {
    font-family: 'HelveticaNeueW01-75Bold', 'HelveticaNeue Bold', 'Helvetica LT Std Bold', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: black;
}

.publicationInfo th {
    font-family: 'HelveticaNeueW01-75Bold', 'HelveticaNeue Bold', 'Helvetica LT Std Bold', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: black;
}

.my-4 {
    font-family: 'HelveticaNeueW01-75Bold', 'HelveticaNeue Bold', 'Helvetica LT Std Bold', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: black;
}

.header1-table th {
    white-space: nowrap;
    font-family: 'HelveticaNeueW01-75Bold', 'HelveticaNeue Bold', 'Helvetica LT Std Bold', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: black;
}

.body1-table td, .body1-table li p{
    font-family: 'HelveticaNeueW01-55Roma','Helvetica LT Std Light','Helvetica Neue LT Std',Helvetica;
    color: black;
}


.research-interests{
    font-family: 'HelveticaNeueW01-55Roma','Helvetica LT Std Light','Helvetica Neue LT Std',Helvetica;
    color: black;
}

.publicationInfo td {
    font-family: 'Lusitana,serif';
    font-style: normal;
    color: black;
}

.table-borderless td,
.table-borderless th {
    border: 0;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -142px;
}

.page-wrap:after {
    content: "";
    display: block;
}

.site-footer, .page-wrap:after {
    height: 142px;
}

.site-footer {
    background: orange;
}

/*------------------Internet Publication------------------*/

.detail-link a:hover {
    color: white !important;
    background-color:#ff6548 !important;
}

.detail-link a {
    transition: all .3s ease 0s;
    text-decoration: none;
    color: #ff6548 !important;
    list-style-type: none;
}

.citation-list li {
    list-style-type: none;
    padding-bottom: 15px;
}

/*------------------Internet Publication------------------*/

/*------------------INLINE NAVBAR------------------*/
.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    padding-top: 15px;
}

.base-navbar-section {
    display: inline-block;
}

.scrolling-wrapper::-webkit-scrollbar {
    display: none;
}

/*Defines the writing style*/
.div-base-navbar-section a {
    color: #000;
    padding-right: 16px;
    text-decoration: none;
    float: left;
    white-space: nowrap !important;
}

.div-base-navbar-section a.current span {
    border-bottom: 3px #ff6548 solid;
}

.div-base-navbar-section a:hover span {
    border-bottom: 3px #ff6548 solid;
}

/*------------------INLINE NAVBAR------------------*/