/*Main Navbar icon style*/
.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, .5);
    border-color: rgba(255, 255, 255, .1);
    background-color: #ff6548;
}

/*Main Navbar icon style*/

.navbar-links{
    padding-top: 2%;
}

/*Padding detail pages from top*/
.common-container{
    padding-top: 6%;
}
.publicationHeadLine h2 {
    font-family: 'HelveticaNeueW01-75Bold', 'HelveticaNeue Bold', 'Helvetica LT Std Bold', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: black;
}

.publicationInfo th {
    font-family: 'HelveticaNeueW01-75Bold', 'HelveticaNeue Bold', 'Helvetica LT Std Bold', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: black;
}

.my-4 {
    font-family: 'HelveticaNeueW01-75Bold', 'HelveticaNeue Bold', 'Helvetica LT Std Bold', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: black;
}

.header1-table th {
    white-space: nowrap;
    font-family: 'HelveticaNeueW01-75Bold', 'HelveticaNeue Bold', 'Helvetica LT Std Bold', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: black;
}

.body1-table td, .body1-table li p {
    font-family: 'HelveticaNeueW01-55Roma', 'Helvetica LT Std Light', 'Helvetica Neue LT Std', Helvetica;
    color: black;
}

.research-interests {
    font-family: 'HelveticaNeueW01-55Roma', 'Helvetica LT Std Light', 'Helvetica Neue LT Std', Helvetica;
    color: black;
}

.publicationInfo td {
    font-family: 'Lusitana,serif';
    font-style: normal;
    color: black;
}

.table-borderless td,
.table-borderless th {
    border: 0;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

/*.page-wrap {*/
/*min-height: 100%;*/
/*!* equal to footer height *!*/
/*margin-bottom: -142px;*/
/*}*/

/*.page-wrap:after {*/
/*content: "";*/
/*display: block;*/
/*}*/

/*.site-footer, .page-wrap:after {*/
/*height: 200px;*/
/*}*/

/*.site-footer {*/
/*background: orange;*/
/*}*/
/*START------------------Navbar Language Button------------------START*/

.navbar-language-button{
    float: left;
        background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
/*END------------------Navbar Language Button------------------END*/

/*START------------------Internet Publication------------------START*/

.detail-link a:hover {
    color: white !important;
    background-color: #ff6548 !important;
}

.detail-link a {
    transition: all .3s ease 0s;
    text-decoration: none;
    color: #ff6548 !important;
    list-style-type: none;
}

.citation-list li {
    list-style-type: none;
    padding-bottom: 15px;
}

/*END------------------Internet Publication------------------END*/

/*START------------------NAVBAR MAIN------------------START*/
.navbar-home {
    border-bottom: 1px solid rgb(204, 204, 204);
}

/*END------------------NAVBAR MAIN------------------END*/

/*START------------------INLINE NAVBAR------------------START*/
.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    padding-top: 15px;
}

.base-navbar-section {
    display: inline-block;
}

.scrolling-wrapper::-webkit-scrollbar {
    display: none;
}

/*Defines the writing style*/
.div-base-navbar-section a {
    color: #000;
    padding-right: 16px;
    text-decoration: none;
    float: left;
    white-space: nowrap !important;
}

.div-base-navbar-section a.current span {
    border-bottom: 3px #ff6548 solid;
}

.div-base-navbar-section a:hover span {
    border-bottom: 3px #ff6548 solid;
}

/*END------------------INLINE NAVBAR------------------END*/

/*START------------------ICONS------------------START*/
.icon-background {
    color: #fff0ff;
}

.social-media-icons {
    text-align: center;
}

.social-media-icons ul li {
    list-style-type: none;
    float: Left;
    display: block;
    padding: 0 8px;

}

.social-media-icons ul {
    padding: 0;
    display: flex;
    justify-content: center;
}

.contact-button-div {
    clear: left;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}

.contact-button {
    width: 200px !important;
    background-color: #3379be;
}

.btn-primary:hover {
    color: #fff;
    background-color: #285e8e;
    /*border-color: #285e8e; !*set the color you want here*!*/
}

/*END------------------ICONS------------------END*/

.footer-navigation ul li {
    list-style-type: none;
    color: white;
}

.site-footer .footer-row1 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-row2 {
    padding-bottom: 20px;
}


/*START------------------ICONS------------------START*/
.publicationInfo th{
    width: 20%;
}
/*END------------------ICONS------------------END*/
