{% extends "base.html" %}
{% load i18n %}

{% block content %}
    {{ block.super }}

<div class="wrapper row2">
  <div id="container" class="clear">
    <section id="fof" class="clear">
      <div class="hgroup">
        <h1><span><strong>5</strong></span><span><strong>0</strong></span><span><strong>5</strong></span></h1>
        <h2>{% trans "Hata!" %}<span>{% trans "Sunucu Hatası" %}</span></h2>
      </div>
      <p>{% trans "Sunucu Belirlenemeyen Bir Problemle Karşılaştı" %}</p>
      <p><a href="javascript:history.go(-1)">&laquo; {% trans "Geri Dön" %}</a> / <a href="{% url 'home' %}">{% trans "Anasayfa" %}</a></p>
    </section>
  </div>
</div>
{% endblock %}
