{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">{% trans "Hakkında" %}
        </h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'home' %}">{% trans "Ana Sayfa" %}</a>
            </li>
            <li class="breadcrumb-item active">{% trans "Hakkında" %}</li>
        </ol>

        <!-- Intro Content -->
        <div class="row">
            {% for foo in author_info %}
                <div class="col-lg-6">
                    <img class="img-fluid rounded mb-4" src="{{ foo.about.image.url }}" alt="About Picture">
                </div>
                <div class="col-lg-6">
                    <h2>{{ foo.about.name }}</h2>
                    <p>{{ foo.about_description | safe }}</p>
                </div>
            {% endfor %}
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

{% endblock %}
