{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
    <!-- Page Content -->
    <div class="container common-container">
        <!-- Page Heading/Breadcrumbs -->
        <h3 class="my-4">{% trans "Hakkında" %}
        </h3>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'home' %}">{% trans "Ana Sayfa" %}</a>
            </li>
            <li class="breadcrumb-item active">{% trans "Hakkında" %}</li>
        </ol>

        <!-- Intro Content -->
        <div class="row">
            {% for foo in author_info %}
                <div class="col-lg-6">
                    {% if foo.about.image %}
                        <img class="img-fluid rounded mb-4" src="{{ foo.about.image.url }}" alt="About Picture">
                    {% endif %}
                </div>
                <div class="col-lg-6 about_hk ">
                    <p>{{ foo.about_description | safe }}</p>
                    <br>
                    {% if foo.pdf %}
                        <a href="{{ foo.pdf.url }}">{% trans "CV'yi Görüntülemek İçin Tıklayınız" %}</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

{% endblock %}
