{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}

    <div class="container common-container">
        {% for publication_detail in publication_info_detail %}
            <div class="row">
                <div class="col-12">
                    <div class="publicationDetail">
                        <div class="publicationHeadLine">
                            <h2>{{ publication_detail.name }}</h2>
                        </div>
                        <br>
                        <div class="publicationInfo table-responsive">
                            <table class="table table-borderless">
                                <tbody>
                                <tr>
                                    <th>
                                        {% trans "Yazar(lar):" %}
                                    </th>
                                    <td>
                                        {{ publication_detail.article.author_names.all | join:", " }}
                                    </td>
                                </tr>
                                {% if publication_detail.article.journal_title %}
                                    <tr>
                                        <th>
                                            {% trans "Dergi:" %}
                                        </th>
                                        <td>
                                            {{ publication_detail.article.journal_title }}
                                        </td>
                                    </tr>

                                {% endif %}
                                {% if publication_detail.article.publisher %}
                                    <tr>
                                        <th>
                                            {% trans "Yayıncı:" %}
                                        </th>
                                        <td>
                                            {{ publication_detail.article.publisher }}
                                        </td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <th>
                                        {% trans "Yayın Tarihi:" %}
                                    </th>
                                    <td>
                                        {{ publication_detail.article.pub_year | date:"M Y" }}
                                    </td>
                                </tr>
                                {% if publication_detail.article.volume %}
                                    <tr>
                                        <th>
                                            {% trans "Cilt:" %}
                                        </th>
                                        <td>
                                            {{ publication_detail.article.volume }}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if publication_detail.article.issue %}
                                    <tr>
                                        <th>
                                            {% trans "Sayı:" %}
                                        </th>
                                        <td>
                                            {{ publication_detail.article.issue }}
                                        </td>
                                    </tr>

                                {% endif %}

                                {% if publication_detail.pp %}
                                    <tr>
                                        <th>
                                            {% trans "Sayfalar:" %}
                                        </th>
                                        <td>
                                            {{ publication_detail.article.pp }}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if publication_detail.page_count %}
                                    <tr>
                                        <th>
                                            {% trans "Sayfa sayısı:" %}
                                        </th>
                                        <td>
                                            {{ publication_detail.article.page_count }}
                                        </td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <th>
                                        {% trans "İçerik Dili:" %}
                                    </th>
                                    <td>
                                        {{ publication_detail.article.article_language }}
                                    </td>
                                </tr>
                                {% if publication_detail.article.pdf %}
                                    <tr>
                                        <th>
                                            PDF:
                                        </th>
                                        <td>
                                            <a href="{{ article_info_detail.pdf.url }}">{% trans "Dosyayı Görmek İçin Tıklayınız" %}</a>

                                        </td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <th>
                                        {% trans "Açıklama:" %}
                                    </th>
                                    <td>
                                        {{ publication_detail.article_abstract|safe }}
                                    </td>
                                </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>

            </div>
        {% endfor %}
    </div>


{% endblock %}
