{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

    <div class="container">
        {% for publication_detail in publication_info_detail %}
            <div class="row">
                <div class="col-12">
                    <div class="publicationDetail">
                        <div class="publicationHeadLine">
                            <h2>{{ publication_detail.name }}</h2>
                        </div>
                        <br>
                        <div class="publicationInfo">
                            <table class="table table-responsive table-borderless">
                                <tbody>
                                <tr>
                                    <th>
                                        Yazar(lar):
                                    </th>
                                    <td>
                                        {{ publication_detail.article.author_names.all | join:", " }}
                                    </td>
                                </tr>
                                {% if publication_detail.article.journal_title %}
                                    <tr>
                                        <th>
                                            Dergi:
                                        </th>
                                        <td>
                                            {{ publication_detail.article.journal_title }}
                                        </td>
                                    </tr>

                                {% endif %}
                                <tr>
                                    <th>
                                        Yayıncı:
                                    </th>
                                    <td>
                                        {{ publication_detail.article.publisher }}
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Yayın Tarihi:
                                    </th>
                                    <td>
                                        {{ publication_detail.article.pub_year | date:"M Y" }}
                                    </td>
                                </tr>
                                {% if publication_detail.article.volume %}
                                    <tr>
                                        <th>
                                            Cilt:
                                        </th>
                                        <td>
                                            {{ publication_detail.article.volume }}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if publication_detail.article.issue %}
                                    <tr>
                                        <th>
                                            Sayı:
                                        </th>
                                        <td>
                                            {{ publication_detail.article.issue }}
                                        </td>
                                    </tr>

                                {% endif %}

                                {% if publication_detail.pp %}
                                    <tr>
                                        <th>
                                            Sayfalar:
                                        </th>
                                        <td>
                                            {{ publication_detail.article.pp }}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if publication_detail.page_count %}
                                <tr>
                                        <th>
                                            Sayfa sayısı:
                                        </th>
                                        <td>
                                            {{ publication_detail.article.page_count }}
                                        </td>
                                </tr>
                                {% endif %}
                                <tr>
                                    <th>
                                        İçerik Dili:
                                    </th>
                                    <td>
                                        {{ publication_detail.article.article_language }}
                                    </td>
                                </tr>
                                {% if publication_detail.article.pdf %}
                                    <tr>
                                        <th>
                                            PDF:
                                        </th>
                                        <th>
                                            <a href="{{ article_info_detail.pdf.url }}">{{ publication_detail.article.pdf }}</a>

                                        </th>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <th>
                                        Açıklama:
                                    </th>
                                    <td>
                                        {{ publication_detail.article_abstract|safe }}
                                    </td>
                                </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>

            </div>
        {% endfor %}
    </div>


{% endblock %}
