{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang="tr">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Welcome to personal Website of Assoc. Prof. Dr. Hacı KARA">
    <meta name="author" content="Hacı Kara">

    <title>Assoc. Prof. Dr. Hacı KARA - Website</title>

    <!-- Bootstrap core CSS -->

    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static  'css/modern-business.css' %}" rel="stylesheet">

    <!-- Detail styles defined later for this template -->
    <link href="{% static  'css/website-detail.css' %}" rel="stylesheet">
    <link href="{% static  'css/error-handle.css' %}" rel="stylesheet">
    <link href="{% static  'font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127706161-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-127706161-1');
    </script>

</head>

<body>

<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-white fixed-top navbar-home">
    <div class="container">
        <a class="navbar-brand" style="color: black" href="{% url 'home' %}"><b>{% trans "Doç. Dr." %} Hacı KARA</b></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-link">
                    <a class="nav-link" style="color: black" href="{% url 'About' %}">{% trans "Hakkında" %}</a>
                </li>
                <li class="nav-link dropdown">
                    <a class="nav-link dropdown-toggle" style="color: black" href="#" id="navbarDropdownPortfolio"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% trans "Yayınlar" %}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                        <a class="dropdown-item main-navbar-hover"
                           href="{% url 'Articles' %}">{% trans "Makaleler" %}</a>
                        <a class="dropdown-item main-navbar-hover" href="{% url 'Books' %}">{% trans "Kitaplar" %}</a>
                    </div>
                </li>
                <li class="nav-link dropdown">
                    <a class="nav-link dropdown-toggle" style="color: black" href="#" id="navbarDropdownPortfolio"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% trans "Akademik Hayat" %}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                        <a class="dropdown-item main-navbar-hover" href="{% url 'Courses' %}">{% trans "Dersler" %}</a>
                        <a class="dropdown-item main-navbar-hover"
                           href="{% url 'Conferences' %}">{% trans "Konferanslar" %}</a>
                        <a class="dropdown-item main-navbar-hover"
                           href="{% url 'Supervised_Thesis' %}">{% trans "Tez Danışmanlığı" %}</a>
                        <a class="dropdown-item main-navbar-hover"
                           href="{% url 'Thesis_Jury_Membership' %}">{% trans "Tez Jüri Üyeliği" %}</a>
                    </div>
                </li>
                <li class="nav-link">
                    <a class="nav-link" style="color: black"
                       href="{% url 'research_interest_detail' %}">{% trans "Araştırma Alanları" %}</a>
                </li>
                <li class="nav-link">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}

                    <form id="myForm" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                        {% for lang in LANGUAGES %}
                            <input class="navbar-language-button" type="submit" name="language" value="{{ lang.0 }}">
                        {% endfor %}
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="page-wrap">
    {% block content %}
    {% endblock %}
</div>

<!-- Footer -->
<footer class="site-footer" style="background-color: black">
    <div class="container">
        <div class="row footer-row1">
            <div class="col-md-4 order-1 order-md-2 ">
                <div class="social-media-icons">
                    <ul class="social-media-icon-list">
                        <li>
                            <a href="https://twitter.com/KaraLawoffice" title="Twitter">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x icon-background "></i>
                            <i class="fa fa-twitter fa-stack-1x"></i>
                        </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://tr.linkedin.com/in/hacı-kara-2500183" title="Linkedin">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x icon-background "></i>
                            <i class="fa fa-linkedin fa-stack-1x"></i>
                        </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="contact-button-div">
                    <a type="button" class="btn btn-primary btn-md contact-button"
                       href="{% url 'Contact' %}">
                        {% trans "İletişim" %}
                    </a>
                </div>

            </div>
            <div class="col-md-4 order-2 order-md-1 text-white footer-sentence">{% trans "Doç. Dr. Hacı Kara'nın kişisel websitesine hoş geldiniz" %}</div>

            <div class=" col-md-4 order-3 order-md-3 footer-navigation">
                <ul>
                    <li>
                        <a class="home-a-link" href="{% url 'About' %}">{% trans "Hakkında" %}</a>
                    </li>
                    <li>
                        <a class="home-a-link" href="{% url 'Articles' %}">{% trans "Yayınlar" %}</a>
                    </li>
                    <li>
                        <a class="home-a-link" href="{% url 'Courses' %}">{% trans "Akademik Hayat" %}</a>
                    </li>
                    <li>
                        <a class="home-a-link"
                           href="{% url 'research_interest_detail' %}">{% trans "Araştırma Alanları" %}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row footer-row2 col-md-12">
            <div class="m-0 text-left text-white">Copyright &copy; {% now "Y" %}{% blocktrans %} Bu site Hacı Kara için
                <a class="home-a-link" href="http://www.ahmetesatkara.com" target="_blank">Ahmet Esat Kara</a> tarafından dizayn
                edilmiştir.{% endblocktrans %}
                <a class="home-a-link" href="{% url 'terms-and-conditions' %}">{% trans "Şartlar Ve Koşullar" %}</a>
                <a class="home-a-link">|</a>
                <a class="home-a-link"
                   href="{% url 'django.contrib.sitemaps.views.sitemap' %}">{% trans "Site Haritası" %}</a>
            </div>
        </div>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{% static  'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static  'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
