{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Haci KARA - Website</title>

    <!-- Bootstrap core CSS -->

    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static  'css/modern-business.css' %}" rel="stylesheet">

    <!-- Detail styles defined later for this template -->
    <link href="{% static  'css/website-detail.css' %}" rel="stylesheet">
    <link href="{% static  'css/error-handle.css' %}" rel="stylesheet">
    <link href="{% static  'font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-white fixed-top navbar-home">
    <div class="container">
        <a class="navbar-brand" style="color: black" href="{% url 'home' %}">{% trans "Doç. Dr." %}<b> Hacı KARA</b></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" style="color: black" href="{% url 'About' %}">{% trans "Hakkında" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: black" href="{% url 'Articles' %}">{% trans "Yayınlar" %}</a>
                </li>
                <li class="nav-item">
                <li class="nav-link">
                    {#                                        <a href="/tr{{ request.get_full_path|slice:'3:' }}">TR | </a>#}
                    {#                                        <a href="/en{{ request.get_full_path|slice:'3:' }}">EN</a></li>#}
                    {#                    <form action="{% url 'set_language' %}" method="post">#}
                    {#                        {% csrf_token %}#}
                    {#                        <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}"/>#}
                    {#                        <input name="language" type="hidden" value="tr"/>#}
                    {#                        <input type="submit" value="TR"/>#}
                    {#                    </form>#}
                    {#                    <form action="{% url 'set_language' %}" method="post">#}
                    {#                        {% csrf_token %}#}
                    {#                        <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}"/>#}
                    {#                        <input name="language" type="hidden" value="en"/>#}
                    {#                        <input type="submit" value="EN"/>#}
                    {#                    </form>#}

                    {#                                        <form action="{% url 'set_language' %}" method="post">#}
                    {#                                            {% csrf_token %}#}
                    {#                                            <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}"/>#}
                    {#                                            <select name="language">#}
                    {#                                                {% get_language_info_list for LANGUAGES as languages %}#}
                    {#                                                {% for language in languages %}#}
                    {#                                                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}#}
                    {#                                                            selected="selected"{% endif %}>#}
                    {#                                                        {{ language.name_local }} ({{ language.code }})#}
                    {#                                                    </option>#}
                    {#                                                {% endfor %}#}
                    {#                                            </select>#}
                    {#                                            <input type="submit" value="Change"/>#}
                    {#                                        </form>#}
                    <form action="{% url 'set_language' %}" method="post">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}"/>
                        <select name="language">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% for lang in LANGUAGES %}
                                <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %}
                                        selected="selected"{% endif %}>
                                    {{ lang.1 }} ({{ lang.0 }})
                                </option>
                            {% endfor %}
                        </select>
                        <input type="submit" value="Go"/>
                    </form>


            </ul>
        </div>
    </div>
</nav>

<div class="page-wrap">
    {% block content %}
    {% endblock %}
</div>

<!-- Footer -->
<footer class="site-footer " style="background-color: black">
    <div class="container">
        <div class="row footer-row1">
            <div class="col-md-4 order-1 order-md-2 ">
                <div class="social-media-icons">
                    <ul class="social-media-icon-list">
                        <li>
                            <a href="#" title="Facebook">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x icon-background "></i>
                            <i class="fa fa-facebook fa-stack-1x"></i>
                        </span>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Twitter">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x icon-background "></i>
                            <i class="fa fa-twitter fa-stack-1x"></i>
                        </span>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Linkedin">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x icon-background "></i>
                            <i class="fa fa-linkedin fa-stack-1x"></i>
                        </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="contact-button-div">
                    <a type="button" class="btn btn-primary btn-md contact-button"
                       href="{% url 'Contact' %}">
                        {% trans "İletişim" %}
                    </a>
                </div>

            </div>
            <div class="col-md-4 order-2 order-md-1">asdasdasd</div>

            <div class=" col-md-4 order-3 order-md-3 footer-navigation">
                <ul>
                    <li>
                        <a>{% trans "Hakkında" %}</a>
                    </li>
                    <li>
                        <a>{% trans "Yayınlar" %}</a>
                    </li>
                    <li>
                        <a>{% trans "Akademik Hayat" %}</a>
                    </li>
                    <li>
                        <a>{% trans "Araştırma Alanları" %}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row footer-row2">
            <div class="m-0 text-left text-white">Copyright &copy; {% now "Y" %} Hacı Kara
                <a href="">{% trans "Gizlilik Politikası" %}</a>
                <a href="">{% trans "Kullanım Koşulları" %}</a>
                <a href="{% url 'django.contrib.sitemaps.views.sitemap' %}">{% trans "Site Haritası" %}</a>
            </div>
        </div>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{% static  'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static  'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
