{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}

    <div class="container">
        {% for publication_detail in publication_info_detail %}
            <div class="row">
                <div class="col-12">
                    <div class="publicationDetail">
                        <div class="publicationHeadLine">
                            <h2>{{ publication_detail.name }}</h2>
                        </div>
                        <br>
                        <div class="publicationInfo">
                            <table class="table table-responsive table-borderless">
                                <tbody>
                                <tr>
                                    <th>
                                        {% trans "Yazar(lar):" %}
                                    </th>
                                        <td>
                                            {{ publication_detail.book.author_names.all | join:", " }}
                                        </td>
                                </tr>
                                <tr>
                                    <th>
                                        {% trans "Yayıncı:" %}
                                    </th>
                                    <td>
                                        {{ publication_detail.book.publisher }}
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        {% trans "Yayın Tarihi:" %}
                                    </th>
                                    <td>
                                        {{ publication_detail.book.pub_year | date:"M Y" }}
                                    </td>
                                </tr>
                                {% if publication_detail.pp %}
                                    <tr>
                                        <th>
                                            ISBN:
                                        </th>
                                        <td>
                                            {{ publication_detail.book.isbn }}
                                        </td>
                                </tr>
                                {% endif %}
                                <tr>
                                        <th>
                                            {% trans "Sayfa Sayısı:" %}
                                        </th>
                                        <td>
                                            {{ publication_detail.book.page_count }}
                                        </td>
                                </tr>
                                <tr>
                                    <th>
                                        {% trans "İçerik Dili:" %}
                                    </th>
                                    <td>
                                        {{ publication_detail.book.book_language }}
                                    </td>
                                </tr>
                                {% if publication_detail.book.pdf%}
                                <tr>
                                    <th>
                                        PDF:
                                    </th>
                                    <th>
                                        <a href="{{ publication_detail.book.pdf.url }}">{% trans "Dosyayı Görmek İçin Tıklayınız" %}</a>

                                    </th>
                                </tr>
                                {% endif %}
                                <tr>
                                    <th>
                                        {% trans "Açıklama:" %}
                                    </th>
                                    <td>
                                        {{ publication_detail.book_abstract|safe }}
                                    </td>
                                </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}
