{% extends "base_publications.html" %}
{% load i18n %}

{% block content %}
    {{ block.super }}

    <div class="container">
        <div class="scrolling-wrapper">
            <div class="div-base-navbar-section">
                <a class="a-base-navbar-section" href="{% url 'Articles' %}">
                    <span>{% trans "Makaleler" %}</span>
                </a>
            </div>
            <div class="div-base-navbar-section">
                <a class="a-base-navbar-section current" href="{% url 'Books' %}">
                    <span>{% trans "Kitaplar" %}</span>
                </a>
            </div>
            <div class="div-base-navbar-section">
                <a class="a-base-navbar-section" href="{% url 'Internet_Publications' %}">
                    <span>{% trans "İnternet Yayınları" %}</span>
                </a>
            </div>
        </div>
    </div>

    <!-- Page Content -->
    <div class="container">
        <h3 class="my-4">{% trans "Kitaplar" %}</h3>
        <div class="row">

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="header1-table">
                    <tr>
                        <th>
                            {% trans "Kitap Adı:" %}
                        </th>
                        <th>
                            {% trans "Yayın Tarihi:" %}
                        </th>
                        <th>
                            {% trans "İçerik Dili:" %}
                        </th>
                    </tr>
                    </thead>
                    <tbody class="body1-table">
                    {% for book in publication_info %}
                        <tr>

                            <td class="detail-link">
                                <a href="{% url 'Book_Detail' book.book book.name|slugify %}">{{ book.name }}</a>
                            </td>
                            <td>
                                {{ book.pub_year | date:"M Y" }}
                            </td>
                            <td>
                                {{ book.book_language }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock %}
