{% extends "base_academic_life.html" %}
{% load i18n %}

{% block content %}
    {{ block.super }}

    <!-- Navbar Inside -->
    <div class="container">
        <div class="scrolling-wrapper">
            <div class="div-base-navbar-section">
                <a class="a-base-navbar-section" href="{% url 'Courses' %}">
                    <span>{% trans "Dersler" %}</span>
                </a>
            </div>
            <div class="div-base-navbar-section">
                <a class="a-base-navbar-section current" href="{% url 'Conferences' %}">
                    <span>{% trans "Konferanslar" %}</span>
                </a>
            </div>
            <div class="div-base-navbar-section">
                <a class="a-base-navbar-section" href="{% url 'Supervised_Thesis' %}">
                    <span>{% trans "Tez Danışmanlığı" %}</span>
                </a>
            </div>
            <div class="div-base-navbar-section">
                <a class="a-base-navbar-section" href="{% url 'Thesis_Jury_Membership' %}">
                    <span>{% trans "Tez Jüri Üyeliği" %}</span>
                </a>
            </div>
        </div>
    </div>
    <!-- Navbar Inside -->

    <!-- Page Content -->
    <div class="container">
        <h3 class="my-4">{% trans "Konferanslar" %}</h3>
        <div class="row">
            {% for konferans in academic_life %}
                <div class="col-12">
                    <ul class="body1-table">
                        <li>
                            <p><b>{{ konferans.name }}</b></p>
                            <p>{{ konferans.participants.all |join:", " }} </p>
                            <p>{{ konferans.institution }}</p>
                            <p>{{ konferans.date | date:"M Y" }}</p>
                            {% if konferans.conference_link %}
                                <p class="detail-link">
                                    <a href="{{ konferans.conference_link }}">
                                        {{ konferans.conference_link }}
                                    </a>
                                </p>
                            {% endif %}
                            {% if konferans.conference_abstract %}
                                <p>
                                    {{ konferans.conference_abstract|safe }}
                                </p>
                            {% endif %}
                    </ul>
                </div>
                <br>
            {% endfor %}
        </div>
    </div>

{% endblock %}
