{% extends "base.html" %}
{% load i18n %}

{% block content %}
    {{ block.super }}

    <!-- Page Content -->
    <div class="container common-container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'home' %}">{% trans "Ana Sayfa" %}</a>
            </li>
            <li class="breadcrumb-item active">{% trans "İletişim" %}</li>
        </ol>
        {% if messages %}
            <div class="row">
                <div class="col-sm-6 col-sm-offset 3">
                    {% for message in messages %}
                        {% if message.tags %}
                            <div class="alert alert-{{ message.level_tag }} alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message }}
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-lg-8 mb-4">
                <h3>{% trans "İletişim" %}</h3>
                <form action="{% url 'contact_send_email' %}" method="post" name="sentMessage" id="contactForm"
                      novalidate>
                    {% csrf_token %}
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>{% trans "Ad - Soyad:" %}</label>
                            <input type="text" class="form-control" id="name" name="full_name" required
                                   data-validation-required-message="Please enter your name.">
                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>{% trans "Email Adresi:" %}</label>
                            <input type="email" class="form-control" id="email" name="from_email" required
                                   data-validation-required-message="Please enter your email address.">
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>{% trans "Mesaj:" %}</label>
                            <textarea rows="10" cols="100" class="form-control" id="message" name="message" required
                                      data-validation-required-message="Please enter your message" maxlength="999"
                                      style="resize:none"></textarea>
                        </div>
                    </div>
                    <div id="success"></div>
                    <!-- For success/fail messages -->
                    <button type="submit" class="btn btn-primary" id="sendMessageButton">{% trans "Gönder" %}</button>
                </form>
            </div>

        </div>
        <!-- /.row -->

    </div>

{% endblock %}
