{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}

    <div class="container common-container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'home' %}">{% trans "Ana Sayfa" %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="#" onclick="window.history.back()">{% trans "Geri" %}</a>
            </li>
        </ol>
        {% for academic_detail in academic_info_detail %}
            <div class="row">
                <div class="col-12">
                    <div class="publicationDetail">
                        <div class="publicationHeadLine">
                            <h2>{{ academic_detail.name }}{% if academic_detail.course.course_code %}
                                - {{ academic_detail.course.course_code }}
                            {% endif %}</h2>
                        </div>
                        <br>
                        <div class="publicationInfo table-responsive">
                            <table class="table table-borderless">
                                <tbody>
                                <tr>
                                    <th>
                                        {% trans "Kurs Adı:" %}
                                    </th>
                                    <td>
                                        {{ academic_detail.name }}
                                    </td>
                                </tr>
                                {% if academic_detail.course.course_code %}
                                    <tr>
                                        <th>
                                            {% trans "Kurs Kodu:" %}
                                        </th>
                                        <td>
                                            {{ academic_detail.course.course_code }}
                                        </td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <th>
                                        {% trans "Sezon:" %}
                                    </th>
                                    <td>
                                        {{ academic_detail.year | date:"Y" }} - {{ academic_detail.course_season }}
                                    </td>
                                </tr>

                                <tr>
                                    <th>
                                        {% trans "Kurum Adı:" %}
                                    </th>
                                    <td>
                                        {{ academic_detail.institution }}
                                    </td>
                                </tr>
                                {% if academic_detail.department %}
                                    <tr>
                                        <th>
                                            {% trans "Departman:" %}
                                        </th>
                                        <td>
                                            {{ academic_detail.department }}
                                        </td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <th>
                                        {% trans "Kurs Dili:" %}
                                    </th>
                                    <td>
                                        {{ academic_detail.course.course_language }}
                                    </td>
                                </tr>
                                {% if academic_detail.course.pdf %}
                                    <tr>
                                        <th>
                                            PDF:
                                        </th>
                                        <th>
                                            <a href="{{ academic_detail.course.pdf.url }}">{% trans "Dosyayı Görmek İçin Tıklayınız" %}</a>

                                        </th>
                                    </tr>
                                {% endif %}
                                {% if academic_detail.course_abstract %}
                                    <tr>
                                        <th>
                                            {% trans "Açıklama:" %}
                                        </th>
                                        <td>
                                            {{ academic_detail.course_abstract|safe }}
                                        </td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        {% endfor %}
    </div>


{% endblock %}
