{% extends base_academic_life %}

{% block content %}
    {{ block.super }}

    <!-- Page Content -->
    <div class="container">
    <h3 class="my-4">Öğretim Deneimi</h3>
    <div class="row">
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>
                        Ders:
                    </th>
                    <th>
                        Kurum Adı:
                    </th>
                    <th>
                        Tarih:
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for kurs in academic_info %}
                <tr>
                    <td>
                        <a href="{% url 'Course_Detail' kurs.course.pk kurs.name  %}">{{ kurs.name }}</a>
                    </td>
                    <td>
                        {{ kurs.university}}
                    </td>
                    <td>
                        {{ kurs.year }}  {{ kurs.course_season }}
                    </td>
                </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>

    </div>


{% endblock %}
