{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}

    <header>
      <div id="carouselExampleIndicators" class="carousel slide" >

          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url('/static/pictures/istanbul.jpeg')">
          </div>
      </div>
    </header>


    <!-- Page Content -->
    <div class="container">

      <h1 class="my-4 welcome">{% trans "Hoş Geldiniz" %} </h1>
        <br>
      <!-- Portfolio Section -->

      <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">

            <a href="{% url 'About' %}"><img class="card-img-top" src="{% static 'pictures/about-base.jpg'%}" alt="Hakkında"></a>
            <div class="card-body">
              <h4 class="card-title" style="text-align: center">
                <a class="home-a-link" href="{% url 'About' %}">{% trans "Hakkında" %}</a>
              </h4>
            </div>

        </div>
       <div class="col-lg-4 col-sm-6 portfolio-item">
            <a href="{% url 'Articles' %}"><img class="card-img-top" src="{% static 'pictures/yayinlar.jpeg'%}" alt="Yayinlar"></a>
            <div class="card-body">
              <h4 class="card-title" style="text-align: center">
                <a class="home-a-link" href="{% url 'Articles' %}">{% trans "Yayınlar" %}</a>
              </h4>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <a href="{% url 'Courses' %}"><img class="card-img-top" src="{% static 'pictures/academic-life.jpeg'%}" alt="Akademic Hayat"></a>
            <div class="card-body">
              <h4 class="card-title" style="text-align: center">
                <a class="home-a-link" href="{% url 'Courses' %}">{% trans "Akademik Hayat" %}</a>
              </h4>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">

            <a href="{% url 'research_interest_detail' %}"><img class="card-img-top" src="{% static 'pictures/arastirma-alanlari.jpg'%}" alt="Arastirma Alanlari"></a>
            <div class="card-body">
              <h4 class="card-title" style="text-align: center">
                <a class="home-a-link" href="{% url 'research_interest_detail' %}"> {% trans "Araştırma Alanları" %}</a>
              </h4>
            </div>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

{% endblock %}