{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}

    <div class="container">
        {% for publication_detail in publication_info_detail %}
            <div class="row">
                <div class="col-12">
                    <div class="publicationDetail">
                        <div class="publicationHeadLine">
                            <h2>{{ publication_detail.name }}</h2>
                        </div>
                        <br>
                        <div class="publicationInfo table-responsive">
                            <table class="table table-borderless">
                                <tbody>
                                <tr>
                                    <th>
                                        {% trans "Yazar(lar):" %}
                                    </th>
                                    <td>
                                        {{ publication_detail.author_names.all |join:", " }}
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        {% trans "Tarih:" %}
                                    </th>
                                    <td>
                                        {{ publication_detail.internet_article_date | date:"M Y" }}
                                    </td>
                                </tr>
                                <tr>
                                    {% if publication_detail.website_name %}

                                        <th>
                                            {% trans "Website Adı:" %}
                                        </th>
                                        <td>
                                            {{ publication_detail.website_name }}
                                        </td>
                                    {% endif %}

                                </tr>
                                <tr>
                                    {% if publication_detail.website_link %}
                                        <th>
                                            {% trans "Website Link:" %}
                                        </th>
                                        <td>
                                            {{ publication_detail.website_link }}
                                        </td>
                                    {% endif %}
                                </tr>

                                <tr>
                                    <th>
                                        {% trans "Açıklama:" %}
                                    </th>
                                    <td>
                                        {{ publication_detail.article_content|safe }}
                                    </td>
                                </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}
