{% extends "base_publications.html" %}
{% load i18n %}
{% load custom_tags %}

{% block content %}
    {{ block.super }}

    <div class="container">
        <div class="scrolling-wrapper">
            <div class="div-base-navbar-section">
                <a class="a-base-navbar-section" href="{% url 'Articles' %}">
                    <span>{% trans "Makaleler" %}</span>
                </a>
            </div>
            <div class="div-base-navbar-section">
                <a class="a-base-navbar-section" href="{% url 'Books' %}">
                    <span>{% trans "Kitaplar" %}</span>
                </a>
            </div>
            <div class="div-base-navbar-section">
                <a class="a-base-navbar-section current" href="{% url 'Internet_Publications' %}">
                    <span>{% trans "İnternet Yayınları" %}</span>
                </a>
            </div>
        </div>
    </div>

    <!-- Page Content -->
    <div class="container">
        <h3 class="my-4">{% trans "İnternet Yayınları" %}</h3>
        <div class="row">
        <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="header1-table">
                    <tr>
                        <th>
                            {% trans "Yayın Adı:" %}
                        </th>
                        <th>
                            {% trans "Yayın Tarihi:" %}
                        </th>
                    </tr>
                    </thead>
                    <tbody class="body1-table">
                    {% for internet_pub in publication_info%}
                        <tr>
                            <td class="detail-link">
                                 <a href="{% url 'Internet_Publication_Detail' internet_pub.pk internet_pub.name|slugify2 %}">
                                {{ internet_pub.name }}

                            </a>
                            </td>
                            <td>
                                {{ internet_pub.internet_article_date|date:"M Y" }}

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
