{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}

    <div class="container common-container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'home' %}">{% trans "Ana Sayfa" %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="#" onclick="window.history.back()">{% trans "Geri" %}</a>

            </li>
        </ol>
        {% for publication_detail in publication_info_detail %}
            <div class="row" style="padding-bottom: 4%">
                <div class="col-12">
                    <div class="publicationDetail">
                        <div class="publicationHeadLine">
                            <h2>{{ publication_detail.name }}</h2>
                        </div>
                        <div style="font-size:small">
                            {{ publication_detail.author_names.all |join:", " }}
                        </div>
                        <div style="color: #808080;font-size:small">
                            {{ publication_detail.internet_article_date | date:"M Y" }}
                        </div>
                        <br>
                        <div>
                            {% if publication_detail.article_content %}
                                {{ publication_detail.article_content|safe }}
                            {% endif %}
                        </div>
                        <br>
                        <div style="font-weight: bold">
                            {% if publication_detail.website_name %}
                                {{ publication_detail.website_name }}
                            {% endif %}
                        </div>
                        <div>
                            {% if publication_detail.website_link %}
                                <a target="_blank" href={{ publication_detail.website_link }}>{{ publication_detail.website_link }}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}
