{% extends "base_publications.html" %}
{% load i18n %}

{% block content %}
    {{ block.super }}

    <div class="container">
        <div class="scrolling-wrapper">
            <div class="div-base-navbar-section">
                <a class="a-base-navbar-section" href="{% url 'Articles' %}">
                    <span>{% trans "Makaleler" %}</span>
                </a>
            </div>
            <div class="div-base-navbar-section">
                <a class="a-base-navbar-section" href="{% url 'Books' %}">
                    <span>{% trans "Kitaplar" %}</span>
                </a>
            </div>
            <div class="div-base-navbar-section">
                <a class="a-base-navbar-section current" href="{% url 'internet_publications' %}">
                    <span>{% trans "İnternet Yayınları" %}</span>
                </a>
            </div>
        </div>
    </div>

    <!-- Page Content -->
    <div class="container">
        <h3 class="my-4">{% trans "İnternet Yayınları" %}</h3>
        <div class="row">
            <div class="col-12">
                    <ul class="citation-list body1-table">
                        {% for internet_pub in publication_info %}
                        <li class="publication-list-item detail-link">
                            <a href="{% url 'internet_publication_detail' internet_pub.pk internet_pub.name %}">
                                {{ internet_pub.name }}
                            </a>
                            - {{ internet_pub.internet_article_date|date:"M Y" }}
                        </li>
                    {% endfor %}
                    </ul>
            </div>
        </div>
    </div>
{% endblock %}
