{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
    <!-- Page Content -->
    <div class="container common-container">

      <!-- Page Heading/Breadcrumbs -->
      <h3 class="my-4">{% trans "Araştırma Alanları" %}
      </h3>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'home' %}">{% trans "Ana Sayfa" %}</a>
        </li>
        <li class="breadcrumb-item active">{% trans "Araştırma Alanları" %}</li>
      </ol>

      <!-- Intro Content -->
      <div class="row">
        <div class="col-lg-6">
          <img class="img-fluid rounded mb-4" src="http://placehold.it/750x450" alt="">
        </div>
        <div class="col-lg-6 research-interests">
            {% for interest in research_interest %}
                <p>{{ interest.name}}</p>
            {% endfor %}
        </div>
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    {% endblock %}
