{% extends "base_academic_life.html" %}
{% load i18n %}

{% block content %}
    {{ block.super }}

    <!-- Navbar Inside -->
    <div class="container">
        <div class="scrolling-wrapper">
            <div class="div-base-navbar-section">
                <a class="a-base-navbar-section" href="{% url 'Courses' %}">
                    <span>{% trans "Dersler" %}</span>
                </a>
            </div>
            <div class="div-base-navbar-section">
                <a class="a-base-navbar-section" href="{% url 'Conferences' %}">
                    <span>{% trans "Conferences" %}</span>
                </a>
            </div>
            <div class="div-base-navbar-section">
                <a class="a-base-navbar-section" href="{% url 'Supervised_Thesis' %}">
                    <span>{% trans "Makale Danışmanlığı" %}</span>
                </a>
            </div>
            <div class="div-base-navbar-section">
                <a class="a-base-navbar-section current" href="{% url 'Thesis_Jury_Membership' %}">
                    <span>{% trans "Makale Jüri Üyeliği" %}</span>
                </a>
            </div>
        </div>
    </div>
    <!-- Navbar Inside -->

    <!-- Page Content -->
    <div class="container">
        <h3 class="my-4">Supervise Thesis</h3>
        <div class="row">

            <div class="col-12">
                <table class="table table-hover">
                    <thead class="header1-table">
                    <tr>
                        <th>
                            {% trans "Makale Sahibi:" %}
                        </th>
                        <th>
                            {% trans "Makale Adı:" %}
                        </th>
                        <th>
                            {% trans "Tarih:" %}
                        </th>
                        <th>
                            {% trans "Makale Türü:" %} <!-- EX: MA-->
                        </th>
                    </tr>
                    </thead>
                    <tbody class="body1-table">
                    {% for academic in academic_life %}
                        <tr>
                            <td>
                                {{ academic.thesis_owner }}
                            </td>
                            <td>
                                {{ academic.name }}
                            </td>
                            <td>
                                {{ academic.date }}
                            </td>
                            <td>
                                {{ academic.thesis_degree }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
